/*Main settings for this page*/
.container{
  max-width: 60%;
  margin: auto;
  display: table;
  justify-content: center;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*architecture_section_Menu*/
.chemistry_sectionPage_Menu {
  background-color:rgba(255,255,255,0.45);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.chemistry_sectionPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.chemistry_sectionPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*chemistry_section_Menu*/


/* chemistry_sectionPage_header */
.chemistry_sectionPage_header {
  height:80px;
  text-align:center;
  font-size:50px;
  padding-top:0px;
}
/* chemistry_sectionPage_header */


/*chemistry_sectionList*/
.chemistry_sectionList {
  height:80px;
  text-align:center;
  font-size:100px;
  padding-top:0px;
}
.listHeader{
  font-weight: bold;
  font-size: 25px ;
  color: rgb(2, 0, 0);
}

.topics{
  overflow: hidden;
  height:470px;
  margin: 30px 0;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: center;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.topic{
  background: #FFE400;
}
.Ikon {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.topic a:hover{
  border-radius: 10px;
  background-color: rgb(214, 129, 18);
  color: rgba(242,242,255,0.87);
}

/*chemistry_sectionPageList*/