body{
  background-color:#f8f8ff;
  margin: 0;
  color: rgb(255, 255, 255); 
  font-family: 'Roboto Slab', serif;
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.MainPage_Menu {
  background:#f8f8ff;
  position: relative;
  overflow: hidden;
  height: 40px;
  margin: 10px 0;
  border-bottom: black;
}
.MainPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  height: 40px;
}
.MainPage_Menu ul li {
  position: relative;
  left: -53%;
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MainPage_Menu ul li a {
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;
}
.MainPage_Menu ul li a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}

.MainPage_header {
  width:100%;
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
  border-top: 2px solid rgb(85, 80, 80);
}
.MainPage_header h3{
  font-weight: bold;
  font-size: 52px ;
  color: rgb(2, 0, 0);
}
.topics{
  position: relative;
  overflow: hidden;
  height:470px;
  margin: 30px 0;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: right;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.topic1{
  background: rgb(230, 155, 17);
}
.topic2{
  background: rgb(204, 13, 13);
}
.topic3{
  background: rgb(7, 131, 180);
}
.topics ul li a {
  color: #000000;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
  margin-right: 0%; 
}
.topics ul li a:hover {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: #f8f8ff;
}

