/*Main settings for this page*/
.container{
  max-width: 0;
  margin: auto;
  display: table;
}
body{
  background-color:rgba(242,242,255,0.87);
  margin: 0;
  color: rgb(242,242,255,0.87); 
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*MainPage_Menu*/
.MainPage_Menu {
  background:rgba(242,242,255,0.87);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.MainPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.MainPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: rgba(242,242,255,0.87);
}
/*MainPage_Menu*/


/*MainPage_header*/
.MainPage_header {
  width:100%;
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
}
.MainPage_header h3{
  font-weight: bold;
  font-size: 52px ;
  color: rgb(2, 0, 0);
}
.topics{
  overflow: hidden;
  height:470px;
  margin: 30px 0;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: right;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.topic1{
  background: #FFE400;
}
.topic2{
  background: rgba(241,15,0,0.83);
}
.topic3{
  background: #0BBAFF;
}
.Ikon1 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon2 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon3 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold; 
}
.topic1 a:hover{
  border-radius: 10px;
  background-color: rgb(214, 129, 18);
  color: rgba(242,242,255,0.87);
}
.topic2 a:hover{
  border-radius: 10px;
  background-color:  rgba(90, 14, 65, 0.363)  /* rgb(54, 124, 71)*/;
  color: rgba(242,242,255,0.87);
}
.topic3 a:hover{
  border-radius: 10px;
  background-color: rgb(12, 118, 160);
  color: rgba(242,242,255,0.87);
}
/*MainPage_header*/

