/*Main settings for this page*/
.container{
  max-width: 60%;
  margin: auto;
  display: table;
  justify-content: center;
}
body{
  background-color:#f8f8ff;
  margin: 0;
  color: rgb(255, 255, 255); 
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*CriteriaPage_Menu*/
.CompletedProjectsPage_Menu {
  background:#f8f8ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.CompletedProjectsPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.CompletedProjectsPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color: #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*CriteriaPage_Menu*/


/*ComletedProjectsPage_header*/
.ComletedProjectsPage_header {
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
}
.ComletedProjectsPage_header h3{
  font-weight: bold;
  font-size: 52px ;
  color: rgb(2, 0, 0);
}
/*ComletedProjectsPage_header*/


/*        slider          */
.slider-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

/* стили основного контейнера слайдера */
.slider {
  position: relative;
  overflow: hidden;
  max-width: 900px;
  margin-bottom: 100px;
  margin-top: 2%;
  align-content: center;
  text-align: center;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}



.slider__indicators li.active {
  background-color: #fff;
}

.slider__item_1 {
  background: linear-gradient(45deg,  #f8f8ff 10%,  #f8f8ff 90%);
}

.slider__item_2 {
  background: linear-gradient(to right #f8f8ff 10%, #f8f8ff 90%);
}


.slider__item {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.slider__item_inner {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color:  #f8f8ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 576px) {
  .slider__item {
    height: 600px;
  }

  .slider__item_inner {
    flex-direction: row;
  }
}



.first-line{
  height: 46%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}
.second-line{
  height: 46%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}
.sub_item{
  height: 100%; 
  width: 40.5%;
  text-align: center;
  transition: .2s linear;
}
.ImageContainer {
  border: 3px solid rgb(131, 126, 126);
  border-radius: 20px;
  height: 100%;
}
.sub_item:hover{
  
}
.sub_item a{
  height: 100%;
  width: 100%;
}
.ProSub {
  text-decoration: none;
}
.Subject-img{
  border-radius: 2%;
  height:100%;
  width: 100%;
}
.Subject-Title{
  color:rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/*        slider          */



/*last_projects*/
.last_projects {
  width:100%;
  height:500px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
}
.last_projects h3{
  font-weight: bold;
  font-size: 52px ;
  color: rgb(2, 0, 0);
}
.topics{
  overflow: hidden;
  height:470px;
  margin: 30px 0;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: centre;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.topic1{
  background: rgb(230, 155, 17);
}
.topic2{
  background: rgba(243, 39, 175, 0.363);
}
.topic3{
  background: rgb(9, 161, 221);
}
.Ikon1 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon2 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon3 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold; 
}
.topic1 a:hover{
  border-radius: 10px;
  background-color: rgb(214, 129, 18);
  color: #f8f8ff;
}
.topic2 a:hover{
  border-radius: 10px;
  background-color:  rgba(90, 14, 65, 0.363)  /* rgb(54, 124, 71)*/;
  color: #f8f8ff;
}
.topic3 a:hover{
  border-radius: 10px;
  background-color: rgb(12, 118, 160);
  color: #f8f8ff;
}
/*last_projects*/