/*Main settings for this page*/
.container{
  max-width: 60%;
  margin: auto;
  display: table;
  justify-content: center;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*indexExampleArticle_Page_Menu*/
.indexExampleArticle_Page_Menu {
  background-color:rgba(255,255,255,0.45);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.indexExampleArticle_Page_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.indexExampleArticle_Page_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*indexExampleArticle_Page_Menu*/

/* indexExampleArticle_Page_header */
.indexExampleArticle_Page_header {
  height:80px;
  text-align:center;
  font-size:40px;
  padding-top:0px;
}
/* indexExampleArticle_Page_header */


/* photoWithDescriptionBlock */

.photoWithDescriptionBlock {
  height: 400px;
  width: 100%;
  display: flex;
}

.ImageContainer {
  height: 100%;
  width: 45%;
  border:3px solid rgb(131,126,126);
  border-radius:20px;
}
.articleImage {
  border-radius:15px;
}

.textContainer {
margin-left: 1%;
width: 55%;
}

.DescriptionText {
  border:3px solid rgb(131,126,126);
  background-color: rgba(255,216,174,0.6);
  border-radius:20px;
  font-size:24px;
  padding-top:10px;
  color: rgb(2, 0, 0);
  margin-right: 10%;
  margin-left: 0%;
  padding: 10px;
  padding-left:20px;
  padding-right: 20px;
  margin-bottom: 60px;
}

.hyperLinkBlock {
  text-align: center;
}

/* photoWithDescriptionBlock */

/* !!!!!!!!!!!!!!!!!! Special settings for text !!!!!!!!!!!!!!!!!!*/
.titleText {
  text-align: center;
  font-size:28px;
  padding-top:5px;
  color: rgb(2, 0, 0);
  margin-right: 10%;
  font-weight: bold;
  padding-left:20px;
  padding-right: 20px;
  
}
/* !!!!!!!!!!!!!!!!!! Special settings for text !!!!!!!!!!!!!!!!!!*/



