.container{
  max-width: 60%;
  margin: auto;
  display: table;
  color: black
}

body{
  background-color:#f8f8ff;
  margin: 0;
  color: rgb(255, 255, 255); 
  font-family: 'Roboto Slab', serif;
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*CriteriaPage_Menu*/
.CompletedProjectsPage_Menu {
  background:#f8f8ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.CompletedProjectsPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.CompletedProjectsPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color: #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*CriteriaPage_Menu*/


/*ComletedProjectsPage_header*/
.ComletedProjectsPage_header {
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
}
.ComletedProjectsPage_header h3{
  font-weight: bold;
  font-size: 52px ;
  color: rgb(2, 0, 0);
}
/*ComletedProjectsPage_header*/


/*ProjectSubjects*/
.section-title{
  text-align: center;
  font-weight: bold;
  font-size: 25px ;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.ProjectsSubjects{
  background-color:  #f8f8ff;
}
.ProjectsSubjects-block{
  display: flex;
  flex-wrap: wrap;
  height: 850px;
  justify-content: center;
}
.Projects-Subject{
  flex-basis: 280px;
  margin-bottom: 63px;
  border: 3px solid rgb(131, 126, 126);
  border-radius: 15px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  text-align: center;
  text-decoration: none;
  transition: .2s linear;
}
.Subject-image{
  display: block;
  margin: 0;
  margin-top: 10%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
}
.Subject-title{
  color: rgb(0, 0, 0);
  text-decoration: none; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.Projects-Subject:hover{
  background-color: rgb(92, 56, 56)
}


/*ProjectSubjects*/