/*Main settings for this page*/
.container{
  max-width: 0;
  margin: auto;
  display: table;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  color: rgba(242,242,255,0.87); 
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*AboutPage_Menu*/
.AboutPage_Menu {
  background-color: rgba(255,216,174,0.6);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
  border-radius: 7px ;
  
}
.AboutPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.AboutPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 7px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
  border-radius: 7px;
}
.MenuOtherIkon a:hover {
  border-radius: 7px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}

/* AboutHeader */
.AboutHeader{
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 500px;
  margin-right: 500px;
  border: 3px solid rgb(85, 80, 80);
  border-bottom: none;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  background-color: rgba(255,216,174,0.6);
}
.AboutHeader h3{
  font-weight: bold;
  font-size: 52px;
  color: rgb(2, 0, 0);
  
}
/* AboutHeader */

/* AboutPage_Menu */
.AboutPage{
  border: 3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.4);
  border-radius: 20px ;
  margin-bottom: 20px;
  padding-top: 30px;
}
/* AboutText */
.AboutText{
  border:3px solid rgb(85, 80, 80);
  border-radius:20px;
  font-size:24px;
  padding-top:10px;
  color: rgb(2, 0, 0);
  margin-right: 10%;
  margin-left: 10%;
  padding: 10px;
  padding-left:20px;
  padding-right: 20px;
  margin-bottom: 40px;
  background-color: rgba(255,216,174,0.45);
}
/* AboutText */

/* Contact */
.slide-to-contact{
 text-align: center; 
 color: rgb(2, 0, 0);
 margin-bottom: 60px;
}
.Contact{
  font-size: 44px;
  font-weight: bold;
  border: 3px solid rgb(85, 80, 80);
  border-radius: 20px;
  margin:0; padding:0;
  list-style-type:none;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 0px;
  background-color: rgba(255,216,174,0.45);
}

.slide-to-contact :hover {
  text-decoration: underline;
}

.buttons-to-contact{
  margin-top:25px;

}

.buttons-to-contact ul li{
  font-size: 32px;
  border: 3px solid rgb(85, 80, 80);
  border-radius: 20px;
  display:inline;
  padding-left: 10px;
  padding-right: 10px;
}
.button1{
  background-color: #26A4E3;
  color: #ffffff;
}
.button1 a{
  color: #ffffff;
  text-decoration: none;
}
.button2{
  background-color: #323131;
  color: #ffffff;
  align-self: center;
  margin-left:30px;
  margin-right:30px;
}
.button2 a{
  color: #ffffff;
  text-decoration: none;
}
.button3{
  background-color: #DE4C3F;
}
.button3 a{
  color: #ffffff;
  text-decoration: none;
}
.slide-to-contact div,
.slide-to-contact [type="checkbox"]{
    display:none;
}
 
.slide-to-contact [type="checkbox"]:checked ~ div {
    display:block;
}
/* Contact */