/*Main settings for this page*/
.container{
  max-width: 60%;
  margin: auto;
  display: table;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*MainPage_Menu*/
.MainPage_Menu {
  background-color:rgba(255,216,174,0.6);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
  border-radius: 7px ;
}
.MainPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.MainPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*MainPage_Menu*/


/*MainPage_header*/
.MainHeader{
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 35%;
  margin-right: 35%;
  border: 3px solid rgb(85, 80, 80);
  border-bottom: none;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  background-color: rgba(255,216,174,0.6);
}
.MainHeader h3{
  font-weight: bold;
  font-size: 52px;
  color: rgb(2, 0, 0);
  
}

.MainPage{
  border: 3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.4);
  border-radius: 20px ;
  margin-bottom: 40px;
}
.topics{
  border:3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.45);
  border-radius:20px;
  font-size:24px;
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 18px;
  max-width: 80%;
  text-align-last: center;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  border: 3px solid rgb(131, 126, 126);
  transition: .4s linear;
}
.topic1{
  background: #f5dc0c;
}
.topic2{
  background: rgb(241,15,0); 
}
.topic3{
  background: #0BBAFF;
}
.Ikon1 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon2 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold;
}
.Ikon3 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 148px;
  transition: .2s linear;
  font-size: 30px;
  font-weight: bold; 
}
.topic1 a:hover{
  background-color: rgb(214, 129, 18);
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
.topic2 a:hover{
  background-color:  #BA0F18;
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
.topic3 a:hover{
  background-color: rgb(12, 118, 160);
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
/*MainPage_header*/

