/*Main settings for this page*/
.container{
  color: rgb(2, 0, 0);
  max-width: 60%;
  margin: auto;
  display: table;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  color: rgba(242,242,255,0.87); 
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*ActualTopicsPage_Menu*/
.ActualTopicsPage_Menu {
  color: rgb(2, 0, 0);
  background-color:rgba(255,216,174,0.6);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
  border-radius: 7px ;
}
.ActualTopicsPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.ActualTopicsPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*ActualTopicsPage_Menu*/


/*ActualProjects_header*/
.ActualProjects_header {
  height:80px;
  text-align:center;
  font-size:24px;
  padding-top:0px;
  padding-bottom: 11px;
}
.ActualProjects_header h3{
  font-weight: bold;
  font-size: 52px;
  color: rgb(2, 0, 0);
}
/*ActualProjects_header*/


/*list_container*/
.list_container{
  text-align: center;
  font-size:24px;
}
/*list_container*/


/*List_of_ActualTopics*/
.List_of_ActualTopics{
  margin-top:15px;
  font-size: 24px;
  padding-top: 10px;
  color: rgb(2, 0, 0);
  
}
/*List_of_ActualTopics*/
/*TOPICS*/
.topic1{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic1 :hover {
   text-decoration: underline;
 }

 .topic1{
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
 }
 .topic1 p,
.topic1 [type="checkbox"]{
    display:none;
}
 
.topic1 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic2{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic2 :hover {
   text-decoration: underline;
 }

 .topic2 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic2 p,
.topic2 [type="checkbox"]{
    display:none;
}
 
.topic2 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic3{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic3 :hover {
   text-decoration: underline;
 }

 .topic3 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic3 p,
.topic3 [type="checkbox"]{
    display:none;
}
 
.topic3 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic4{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic4 :hover {
   text-decoration: underline;
 }

 .topic4 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic4 p,
.topic4 [type="checkbox"]{
    display:none;
}
 
.topic4 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic5{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic5 :hover {
   text-decoration: underline;
 }

 .topic5 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic5 p,
.topic5 [type="checkbox"]{
    display:none;
}
 
.topic5 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic6{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic6 :hover {
   text-decoration: underline;
 }

 .topic6{
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic6 p,
.topic6 [type="checkbox"]{
    display:none;
}
 
.topic6 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic7{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic7 :hover {
   text-decoration: underline;
 }

 .topic7 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic7 p,
.topic7 [type="checkbox"]{
    display:none;
}
 
.topic7 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic8{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic8 :hover {
   text-decoration: underline;
 }

 .topic8 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic8 p,
.topic8 [type="checkbox"]{
    display:none;
}
 
.topic8 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic9{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic9 :hover {
   text-decoration: underline;
 }

 .topic9 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
 }
 .topic9 p,
.topic9 [type="checkbox"]{
    display:none;
}
 
.topic9 [type="checkbox"]:checked ~ p {
    display:block;
}
.topic10{
  text-align: center; 
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
 }
 
 .topic10 :hover {
   text-decoration: underline;
 }

 .topic10 {
   font-size: 24px;
   border: 3px solid rgb(146, 138, 126);
   background-color: rgba(255,216,174,0.6);
   border-radius: 20px;
   margin:auto;
   list-style-type:none;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-top: 5px;
   width: 65%;
   margin-top: 1%;
   margin-bottom: 5%;
 }
 .topic10 p,
.topic10 [type="checkbox"]{
    display:none;
}
 
.topic10 [type="checkbox"]:checked ~ p {
    display:block;
}
.topics {
  font-size:17px;
  font-style: oblique;
  margin-top:5px;
}
/*TOPICS*/