/*Main settings for this page*/
.container{
  max-width: 60%;
  margin: auto;
  display: table;
}
body{
  background-image: url(Fon.jpeg);
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Main settings for this page*/

/*CompletedProjectsPage_Menu*/
.CompletedProjectsPage_Menu {
  background-color:rgba(255,216,174,0.6);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
  border-radius: 7px ;
}
.CompletedProjectsPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.CompletedProjectsPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color:  #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*CompletedProjectsPage_Menu*/


/*ComletedProjectsPage_header*/
.ComletedProjectsHeader {
  height:80px;
    text-align:center;
    font-size:24px;
    padding-top:0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid rgb(85, 80, 80);
    border-bottom: none;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    background-color: rgba(255,216,174,0.6);
}
.ComletedProjectsHeader h3{
  font-weight: bold;
  font-size: 52px;
  color: rgb(2, 0, 0);
}
/*ComletedProjectsPage_header*/

.CompletedProjectsPage{
  border: 3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.4);
  border-radius: 20px ;
  margin-bottom: 40px;
}

.CompletedProjectsPageSlider{
  border:3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.45);
  border-radius:20px;
  font-size:24px;
  color: rgb(2, 0, 0);
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align-last: center;
  justify-content: center;
}

/*        slider          */
.slider-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slider{
  overflow: auto;
  
}
.section-title {
  margin-top: 17px;
  color: #000;
  font-weight: bold;
  font-size: 37px ;
}

/* стили основного контейнера слайдера */
.slider {
  position: relative;
  overflow: hidden;
  width:950px;
  align-content: center;
  text-align: center;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: url(Fon.jpeg);
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: url(Fon.jpeg);
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}



.slider__indicators li.active {
  background-image: url(Fon.jpeg);
}



.slider__item {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.slider__item_inner {
  position: absolute;
  left: 8%;
  right: 8%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: url(Fon.jpeg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 576px) {
  .slider__item {
    height: 600px;
  }

  .slider__item_inner {
    flex-direction: row;
  }
}

.first-line{
  height: 44%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}
.second-line{
  height: 44%;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-evenly;
}
.sub_item{
  background-color: #ffffff;
  height: 100%; 
  width: 40.5%;
  text-align: center;
  transition: .2s linear;
  border: 3px solid rgb(131, 126, 126);
  border-radius: 20px;
}
.sub_item:hover{
  border: 6px solid rgb(131, 126, 126);
  border-radius: 20px;
}
.ImageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  transition: .2s linear;
}
.sub_item a {
  height: 100%;
  width: 100%;
}
.ProSub {
  text-decoration: none;
}
.Subject-img{
  margin: 0;
  margin-top: 2.4%;
  border-radius: 2%;
  height:90%;
  width: 95%;
}
.Subject-Title{
  color:rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/*        slider          */



/*last_projects*/
.last_projects {
  border:3px solid rgb(85, 80, 80);
  background-color: rgba(255,216,174,0.45);
  border-radius:20px;
  font-size:24px;
  color: rgb(2, 0, 0);
  margin-bottom: 45px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align-last: center;
}
.text_last_pr {
  text-align:center;
  font-size: 37px;
  margin-top:20px;
  margin-bottom:  12px;
}

.topics{ 
  text-align:center;
  font-size:24px;
  overflow: hidden;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  text-align-last: center;
}
.topics ul {
  list-style: none;  
}
.topics ul li {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 3px solid rgb(131, 126, 126);
  transition: .4s linear;
}
.topic1{
  background: #f5dc0c;
}
.topic2{
  background: rgb(241,15,0);
}
.topic3{
  background: #0BBAFF;
}
.Ikon1 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  transition: .4s linear;
}
.Ikon2 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  transition: .4s linear;
}
.Ikon3 {
  color: #000000;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold; 
  transition: .4s linear;
}
.topic1 a:hover{
  border-radius: 3px;
  background-color: rgb(214, 129, 18);
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
.topic2 a:hover{
  border-radius: 3px;
  background-color:  #BA0F18;
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
.topic3 a:hover{
  border-radius: 3px;
  background-color: rgb(12, 118, 160);
  color: rgba(242,242,255,0.87);
  border-radius: 5.6px;
}
/*last_projects*/