.container{
  color: rgb(2, 0, 0);
  max-width: 60%;
  margin: auto;
  display: table;
}

body{
  background-color:#f8f8ff;
  margin: 0;
  color: rgb(255, 255, 255); 
  font-family: 'Roboto Slab', serif;
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*AboutPage_Menu*/
.AboutPage_Menu {
  background:#f8f8ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  height: 60px;
  margin: 10px 0;
  width: 1200px;
  border: 3px solid rgb(85, 80, 80);
  border-right: 3px solid rgb(85, 80, 80);
}
.AboutPage_Menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  float: left;
  height: 40px;
}
.AboutPage_Menu ul li {
  float: left;
  margin: 0 10px;
  height: 40px;
}
.MenuThisIkon{
  background: rgb(246, 6, 6); 
  border-radius: 4px;
}
.MenuThisIkonText{
  color: #f8f8ff;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkonText{
  color: rgb(2, 0, 0);
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 40px;
  transition: .2s linear;
  text-transform: uppercase;
  font-weight: bold;  
}
.MenuOtherIkon a:hover {
  border-radius: 4px;
  background-color: rgb(246, 6, 6);
  color: #f8f8ff;
}
/*AboutPage_Menu*/


.AboutHeader{
  text-align:center;
  font-size:52px;
  padding-top:0px;
  color: rgb(2, 0, 0);
  margin-bottom: 10px;
  }

.AboutText{
  text-align:center;
  font-size:24px;
  padding-top:10px;
  color: rgb(2, 0, 0);
  }